<main class="dialog-window">
  <div class="dialog-window__header">
    <div class="header__channel-name">
      <div class="channel-name__text">general</div>
      <div class="channel-name__ico">
        <img src="assets/img/dialog-window/header/channel-name_ico.svg" alt="star">
      </div>
    </div>
    <div class="header__interface">
      <div class="interface__users">
        <div class="interface__users-ico">
          <img src="assets/img/dialog-window/header/interface__users-ico.svg" alt="users ico">
        </div>
        <div class="interface__users-count">1,093</div>
      </div>
      <div class="interface__search-input">
        <input type="text" class="interface__search-input-item" placeholder="Search...">
      </div>
      <div class="interface__notifications">
        <img src="assets/img/dialog-window/header/interface__notifications-ico.svg" alt="notifications">
      </div>
      <div class="interface__settings">
        <img src="assets/img/dialog-window/header/interface__settings-ico.svg" alt="settings">
      </div>
    </div>
  </div>
  <div class="dialog-window__main-block">
    <div class="messages-block__body">
      <div class="message__item">
        <div class="item__user-photo">
          <img src="assets/img/dialog-window/users_photo/01.png" alt="user photo">
        </div>
        <div class="item__text-block">
          <div class="text-block__user-block">
            <div class="item__username">Jeshua Stout</div>
            <div class="item__message-time">6:38 PM</div>
          </div>
          <div class="item__message-text">@pierrhack I did for 6 days in Iceland</div>
        </div>
      </div>
      <div class="monday__delimiter delimiter">Monday, October 22nd</div>
      <div class="monday-message__item message__item">
        <div class="item__user-photo">
          <img src="assets/img/dialog-window/users_photo/02.png" alt="user photo">
        </div>
        <div class="item__text-block">
          <div class="text-block__user-block">
            <div class="item__username">Harold Adams</div>
            <div class="item__message-time">5:02 PM</div>
          </div>
          <div class="item__message-text">Which country to visit next? This is a photo with my friends - celebrating in Bali
            <img src="assets/img/dialog-window/message_smiles/01.png" alt="smile"></div>
          <div class="message-text__link">my-top-places.jpg</div>
          <div class="message-text__photo">
            <img src="assets/img/dialog-window/message_photo/message_photo.png" alt="photo">
            <div class="message-text__photo__likes">
              <img src="assets/img/dialog-window/message_smiles/like_smile.png" alt="likes">
              <div class="likes__count">3</div>
            </div>
          </div>
        </div>
      </div>
      <div class="yesterday__delimiter delimiter">Yesterday</div>
      <div class="yesterday-message__item message__item">
        <div class="item__user-photo">
          <img src="assets/img/dialog-window/users_photo/03.png" alt="photo">
        </div>
        <div class="item__text-block">
          <div class="text-block__user-block">
            <div class="item__username">Aada Laine</div>
            <div class="item__message-time">11:54 AM</div>
          </div>
          <div class="message-text__link">@har_adams wow it’s amazing, I want to buy a van and travelling next year
            <img src="assets/img/dialog-window/message_smiles/autobus_smile.png" alt="smile"></div>
        </div>
      </div>
      <div class="today__delimiter delimiter">Today</div>
      <div class="today-message__item message__item">
        <div class="item__user-photo">
          <img src="assets/img/dialog-window/users_photo/04.png" alt="photo">
        </div>
        <div class="item__text-block">
          <div class="text-block__user-block">
            <div class="item__username">Nala Hester</div>
            <div class="item__message-time">11:54 AM</div>
          </div>
          <div class="item__message-text">Working from a van in Australia isn’t feasible if you need internet. It may have improved over the last years but I spent some time in a camper van around Tasmania and internet was a real problem (and Tasmania is tiny compared to the rest of the country).</div>
        </div>
      </div>
      <div class="today-message__item message__item">
        <div class="item__user-photo">
          <img src="assets/img/dialog-window/users_photo/05.png" alt="photo">
        </div>
        <div class="item__text-block">
          <div class="text-block__user-block">
            <div class="item__username">Ramon Bateman</div>
            <div class="item__message-time">11:59 AM</div>
          </div>
          <div class="item__message-text"><span class="message-text__link">@aa_da</span> What's the reason for the van? Saving money or just like to get outside? If you've got a stable source of income you could always do some short term Airbnbs + buy a truck/topper, build a platform in the back. That way you can always convert it back to a truck and sleep in an apartment if you want.</div>
        </div>
      </div>
    </div>
  </div>
  <div class="dialog-window__input-block">
    <div class="input-block__body">
      <div class="materials__ico">
        <img src="assets/img/dialog-window/input/materials_ico.png" alt="materials">
      </div>
      <div class="voice__ico">
        <img src="assets/img/dialog-window/input/voice_ico.png" alt="voice">
      </div>
      <input type="text" placeholder="Message in #general" class="input-block__input" onfocus="border=0">
      <div class="smile__ico">
        <img src="assets/img/dialog-window/input/smile_ico.png" alt="smiles">
      </div>
    </div>
  </div>
</main>
