<div class="user-info-block">
  <div class="user-photo">
    <img src="assets/img/user-info-block/user-photo.jpg" alt="user photo">
  </div>
  <div class="user__info__container">
    <div class="username">Amilia Luna</div>
    <div class="user-position">UI Designer</div>
    <div class="user-any-contacts">
      <a class="contact__button">
        <div class="contact-button__logo">
          <img src="assets/img/user-info-block/any-contacts/01.png" alt="facebook">
        </div>
      </a>
      <a class="contact__button">
        <div class="contact-button__logo">
          <img src="assets/img/user-info-block/any-contacts/02.png" alt="twitter">
        </div>
      </a>
      <a class="contact__button">
        <div class="contact-button__logo">
          <img src="assets/img/user-info-block/any-contacts/03.png" alt="instagram">
        </div>
      </a>
      <a class="contact__button">
        <div class="contact-button__logo">
          <img src="assets/img/user-info-block/any-contacts/04.png" alt="in">
        </div>
      </a>
    </div>
    <div class="user-message">
      <a class="message__button">Message</a>
      <a class="message__button_more">
        <img src="assets/img/user-info-block/message-more_ico.png" alt="more">
      </a>
    </div>
    <div class="user-contacts">
      <div class="contact__item">
        <div class="contact__item-title">Username</div>
        <div class="contact__item-text">@amilia_lu</div>
      </div>
      <div class="contact__item">
        <div class="contact__item-title">Email</div>
        <div class="contact__item-text">a-luna@gmail.com</div>
      </div>
      <div class="contact__item">
        <div class="contact__item-title">Skype</div>
        <div class="contact__item-text">amiluna</div>
      </div>
      <div class="contact__item">
        <div class="contact__item-title">Timezone</div>
        <div class="contact__item-text">2:21 PM Local time</div>
      </div>
    </div>
    <a class="roll__button">
      <img src="assets/img/user-info-block/roll__ico.png" alt="roll">
    </a>
  </div>
</div>
