<div class="navigation-menu">
  <div class="navigation-menu__body">
    <div class="navigation-menu__channels">
      <a class="navigation-menu__item item_active">
        <div class="navigation-item__logo">
          <img src="assets/img/navigation-menu/01.svg" alt="channel ico">
        </div>
      </a>
      <a class="navigation-menu__item item_02">
        <div class="navigation-item__logo">
          <img src="assets/img/navigation-menu/02.svg" alt="channel ico">
        </div>
      </a>
      <a class="navigation-menu__item">
        <div class="navigation-item__logo">
          <img src="assets/img/navigation-menu/03.svg" alt="channel ico">
        </div>
      </a>
      <a class="navigation-menu__item item_04">
        <div class="navigation-item__logo">
          <img src="assets/img/navigation-menu/04.svg" alt="channel ico">
        </div>
      </a>
      <a class="navigation-menu__item">
        <div class="navigation-item__logo">
          <img src="assets/img/navigation-menu/05.svg" alt="channel ico">
        </div>
      </a>
      <a class="navigation-menu__item">
        <div class="navigation-item__logo">
          <img src="assets/img/navigation-menu/06.svg" alt="channel ico">
          <div class="krug"></div>
        </div>
      </a>
      <a class="navigation-menu__item item_07">
        <div class="navigation-item__logo">
          <img src="assets/img/navigation-menu/07.svg" alt="channel ico">
        </div>
      </a>
      <div class="navigation-menu__button-logout" (click)="logoutGoogle()">X</div>
    </div>
  </div>
  <a class="navigation-menu__button">
    <div class="navigation-menu__button__item">
      <div class="button-item__logo">
        <img src="assets/img/navigation-menu/08.svg" alt="add channel ico">
      </div>
    </div>
  </a>
</div>
