<div class="container">
  <div class="auth-window">

    <div class="auth-window__title">
      Authentication
    </div>

    <div class="auth-window__inputs">
      <input type="text" placeholder="Enter email...">
      <input type="password" placeholder="Enter password...">
      <button class="inputs__enter">Enter</button>
    </div>

    <div class="auth-window__delimiter">or</div>

    <div class="auth-window__button">
      <button class="withGoogle" (click)="loginWithGoogle()">
        Sign in with
        <img src="assets/img/Google__G__Logo.svg.png" alt="Google">
      </button>
    </div>

    <div class="auth-window__create-account">
      <p>Create an account</p>
    </div>

  </div>
</div>
