* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}
input {
  background-color: #000;
  color: #B5B5B5;
  padding: 15px 30px;

}

.container {
  background-color: #25272A;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .auth-window {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 33%;
    height: 400px;
    background-color: #000;
    border-radius: 20px 100px;
    padding: 20px 0;
    border: 5px gray solid;

    .auth-window__title {
      margin-bottom: 20px;
      font-size: 32px;
      font-weight: 700;
    }

    .auth-window__inputs {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      input {
        background-color: #fff;
        margin-bottom: 10px;
        border-radius: 5px;
        color: #000;
      }

      .inputs__enter {
        color: #000;
        width: 100px;
        height: 25px;
        border-radius: 5px;
        cursor: pointer;
        transition: all .2s linear;

        &:hover {
          background: #000;
          border: 2px gray solid;
          color: #fff;
          border-radius: 20px 100px;
        }
      }
    }

    .auth-window__delimiter {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 20px 0;

      &:after {
        content: "";
        display: block;
        background: #fff;
        height: 2px;
        width: 100px;
        margin-left: 5px;
      }
      &:before {
        content: "";
        display: block;
        background: #fff;
        height: 2px;
        width: 100px;
        margin-right: 5px;
      }
    }

    .auth-window__button {
      outline: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;

      .withGoogle {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 10px;
        color: black;
        border-radius: 5px;
        cursor: pointer;
        transition: all .2s linear;

        &:hover {
          background: #000;
          border: 2px gray solid;
          color: #fff;
          border-radius: 20px 100px;
        }
      }
      .withGoogle img {
        width: 30px;
        height: 30px;
        margin-left: 5px;
      }
    }

    .auth-window__create-account {
      cursor: pointer;

      p {

        &:hover {
          color: #3577EF;
        }
      }
    }
  }
}
